<div id="main" class="palm-dark">
	
	<div class="toggles" id="toggles">
	     
		<div class="palm-group">
		
			<div class="palm-group-title">Tethered Interfaces</div>
			
			<div class="palm-list">
			
				<div id="wifi-row" class="palm-row first">
					<div class="palm-row-wrapper">
						<div class="label left">Wireless</div>
						<div id="wifi" x-mojo-element="ToggleButton"></div>
						<div x-mojo-element="Spinner" name='wifiSpinner'></div>
						<div class="icon-wifi"></div>
					</div>
				</div>
				
				<div class="palm-row">		
					<div class="palm-row-wrapper">
						<div class="label left">Bluetooth</div>
						<div id="bluetooth" x-mojo-element="ToggleButton"></div>
						<div x-mojo-element="Spinner" name='btSpinner'></div>
						<div class="icon-bt"></div>			
					</div>
				</div>
				
				<div id="usb-row" class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="label left">USB</div>
						<div id="usb" x-mojo-element="ToggleButton"></div>
						<div x-mojo-element="Spinner" name='usbSpinner'></div>
						<div class="icon-usb"></div>
					</div>
				</div>
				
			</div>
			
		</div>
		
		<div class='palm-info-text'>Tap row to bring up interface options.</div>
	
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
          <div class="title">
            <div class="label left">DHCP Server</div>
            <div class="icon" x-mojo-tap-highlight='momentary'>
              <div id="dhcp-icon" class="icon status-offline"></div>
            </div>
          </div>
          <div class="title">
            <div class="label left">IP Forwarding</div>
            <div class="icon" x-mojo-tap-highlight='momentary'>
              <div id="ip-forward-icon" class="icon status-offline"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
		
	</div>
	
	
  <div id="connections">
    <div id="clientList" x-mojo-element="List"></div>
  </div>
  

	<div id="options">
    
    <div id="bt-group" class="palm-group">
    
      <div class="palm-group-title">Bluetooth Prefs</div>
      
      <div class="palm-list">
      
        <div class="palm-row single">    
          <div class="palm-row-wrapper">
            <div class="label left">PAN</div>
            <div id="panProfile" x-mojo-element="ToggleButton"></div>     
          </div>
        </div>
        
      </div>
      
    </div>
    
	</div>
	
</div>
