<div id="main" class="palm-hasheader palm-dark">
	<div class="palm-header" id="main-hdr">
		freeTether
	</div>
	<div id="mainOptions">
		<div class="palm-group">
			<div class="palm-group-title">Tethered Interfaces</div>
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div class="label left">Wireless</div>
						<div id="tetherWiFi" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				<div class="palm-row">		
					<div class="palm-row-wrapper">
						<div class="label left">Bluetooth</div>
						<div id="tetherBT" x-mojo-element="ToggleButton"></div>			
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="label left">USB</div>
						<div id="tetherUSB" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div id="connections">
    Connected Devices
  </div>
	<div id="wifiOptions">
		WiFi Options
	</div>
	<div id="btOptions">
		BT Options
	</div>
	<div id="usbOptions">
		USB Options
	</div>
</div>