<div id="main" class="palm-hasheader palm-dark">


	<div class="palm-header" id="main-hdr">
		freeTether
	</div>
	
	
	<div class="toggles" id="toggles">
	
		<div class="palm-group">
		
			<div class="palm-group-title">Tethered Interfaces</div>
			
			<div class="palm-list">
			
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div class="label left">Wireless</div>
						<div id="wifi" x-mojo-element="ToggleButton"></div>
						<div x-mojo-element="Spinner" name='wifiSpinner'></div>
						<div class="icon-wifi"></div>
					</div>
				</div>
				
				<div class="palm-row">		
					<div class="palm-row-wrapper">
						<div class="label left">Bluetooth</div>
						<div id="bluetooth" x-mojo-element="ToggleButton"></div>
						<div x-mojo-element="Spinner" name='btSpinner'></div>
						<div class="icon-bt"></div>			
					</div>
				</div>
				
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="label left">USB</div>
						<div id="usb" x-mojo-element="ToggleButton"></div>
						<div x-mojo-element="Spinner" name='usbSpinner'></div>
						<div class="icon-usb"></div>
					</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	
  <div id="connections">
    <div id="clientList" x-mojo-element="List"></div>
  </div>
  

	<div id="options">
	
	  <div class="palm-group">
	  
      <div class="palm-group-title">Wireless Prefs</div>
      
      <div class="palm-list">
      
        <div class="palm-row first">
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
              <div class="label">Network</div>
              <div id="network" x-mojo-element="TextField"></div>
            </div>
          </div>
        </div>
        
        <div id="security-row" class="palm-row">
          <div class="palm-row-wrapper">
            <div id="security" x-mojo-element="ListSelector"></div>
          </div>
        </div>
        
        <div id="passphrase-row" class="palm-row last">
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
              <div class="label">Passphrase</div>
              <div id="passphrase" x-mojo-element="PasswordField"></div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    
    <div class="palm-group">
    
      <div class="palm-group-title">USB Prefs</div>
      
      <div class="palm-list">
      
        <div class="palm-row single">
          <div class="palm-row-wrapper">
            <div id="usbGadget" x-mojo-element="ListSelector"></div>
          </div>
        </div>
        
      </div>
      
    </div>
    
    <div id="bt-group" class="palm-group">
    
      <div class="palm-group-title">Bluetooth Prefs</div>
      
      <div class="palm-list">
      
        <div class="palm-row single">    
          <div class="palm-row-wrapper">
            <div class="label left">PAN</div>
            <div id="panProfile" x-mojo-element="ToggleButton"></div>     
          </div>
        </div>
        
      </div>
      
    </div>
    
	</div>
	
</div>
