<div class="form prefs" id="container">
    
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div class="icon"></div>
			<div class="title">General Prefs</div>
		</div>
	</div>
    
	<div class="palm-group unlabeled">
      
		<div class="palm-list">
	      
		    <div class="palm-row first">    
		      <div class="palm-row-wrapper">
		      	<div class="help-overlay" id="help-auto-wifi"></div>
		        <div class="label left">Auto WiFi Tether</div>
		        <div id="autoWiFi" x-mojo-element="ToggleButton"></div>     
		      </div>
		    </div>
			
			<div class="palm-row">    
		      <div class="palm-row-wrapper">
		      	<div class="help-overlay" id="help-auto-bt"></div>
		        <div class="label left">Auto BT Tether</div>
		        <div id="autoBT" x-mojo-element="ToggleButton"></div>     
		      </div>
		    </div>
			
			<div class="palm-row last">    
		      <div class="palm-row-wrapper">
		      	<div class="help-overlay" id="help-auto-usb"></div>
		        <div class="label left">Auto USB Tether</div>
		        <div id="autoUSB" x-mojo-element="ToggleButton"></div>     
		      </div>
		    </div>
		    
	    </div>
        
	</div>
      
</div>