<div class="form prefs" id="container">
    
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div class="icon"></div>
			<div class="title">WiFi Prefs</div>
		</div>
	</div>
    
	<div class="palm-group unlabeled">
      
		<div class="palm-list">
	      
		    <div class="palm-row first">
		      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		      	<div class="help-overlay" id="help-network"></div>
		        <div class="title">
		          <div class="label">Network</div>
		          <div id="network" x-mojo-element="TextField"></div>
		        </div>
		      </div>
		    </div>
		        
		    <div id="security-row" class="palm-row last">
		      <div class="palm-row-wrapper">
		      	<div class="help-overlay" id="help-security"></div>
		        <div id="security" x-mojo-element="ListSelector"></div>
		      </div>
		    </div>
		        
		    <div id="passphrase-row" style="display:none;">
		      <div class="palm-row">
			      <div class="palm-row-wrapper">
			        <div class="help-overlay" id="help-passphrase"></div>
			        <div class="textfield-group" x-mojo-focus-highlight="true">
			          <div class="title">
			            <div class="label">Passphrase</div>
			            <div id="passphrase" x-mojo-element="TextField"></div>
			          </div>
			        </div>
			        <div class='palm-info-text' id="passphraseHint" style="text-align:center;padding-bottom:6px;"></div>
		          </div>
		      </div>
		      <div class="palm-row last">
			      <div class="palm-row-wrapper">
			      	<div class="help-overlay" id="help-set-passphrase"></div>
			      	<div x-mojo-element="Button" class="buttonClass" id="passphraseButton"></div>
		      	  </div>
	      	  </div>
		    </div>
		      
		</div>
	
	</div>
      
</div>