<div class="form prefs" id="container">
    
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div class="icon"></div>
			<div class="title">Bluetooth Prefs</div>
		</div>
	</div>
    
	<div class="palm-group unlabeled">
      
		<div class="palm-list">
	      
		    <div class="palm-row single">    
		      <div class="palm-row-wrapper">
		      	<div class="help-overlay" id="help-pan"></div>
		        <div class="label left">PAN Profile</div>
		        <div id="panProfile" x-mojo-element="ToggleButton"></div>     
		      </div>
		    </div>
		    
	    </div>
        
	</div>
      
</div>