<div>
  <span class="palm-dialog-title">Access Point Passphrase</span>
  <div class="palm-group unlabeled">
    <div class="palm-list">
      <div class='palm-row single'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
          <div class="title">
            <div id="newpass" x-mojo-element="TextField" align="left"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div x-mojo-element="Button" id="randomButton"></div>
  <div x-mojo-element="Button" id="okButton"></div>
</div>