.main .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}
.main .palm-page-header-wrapper .title
{
	padding-left: 80px;
	text-transform: none;
}
.main .palm-page-header-wrapper .title.main
{
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.main .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
}
.main .palm-page-header-wrapper .title.sub
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}

.state0
{
	background: url(../images/blue-off-32.png) top center no-repeat;
}
.state1
{
	background: url(../images/blue-on-32.png) top center no-repeat;
}


.icon-usb
{
	background: url(../images/notification-large-usb.png) top center no-repeat;
}
.icon-bt
{
	background: url(../images/BlueTooth.png) top center no-repeat;
}
.icon-wifi
{
	background: url(../images/wifi_logo.png) top center no-repeat;
}