.icon-switch
{
	background: url(../images/switch.png) center center no-repeat;
}
.icon-usb
{
  height: 32px;
  width: 32px;
  margin-left: 8px;
  padding-top: 20px;
	background: url(../images/usb.png) center center no-repeat;
}
.icon-bt
{
  height: 32px;
  width: 32px;
  margin-left: 8px;
  padding-top: 20px;
	background: url(../images/bt.png) center center no-repeat;
}
.icon-wifi
{
  height: 32px;
  width: 32px;
  margin-left: 8px;
  padding-top: 20px;
	background: url(../images/wifi.png) center center no-repeat;
}
.icon-connections
{
  background: url(../images/connections.png) center center no-repeat;
}
.icon-prefs
{
  background: url(../images/prefs.png) center center no-repeat;
}
.toggles .palm-row-wrapper .label.left
{
  padding-left: 40px;
}

.status-error {
  background: url(../images/status-error.png) center center no-repeat;
}

.invalid-ip {
  color: crimson;
}

.tcp {
  margin:0px;
  padding:0px;
  padding-top:6px;
}

.palm-info-text.invalid {
  color: crimson;
}

/*
 * Help Scene Styles
 */
.help .palm-text-wrapper .palm-body-text#appdetails
{
  margin-bottom: 2px;
}
.help .palm-text-wrapper .palm-body-text.devs
{
  font-size: 14px;
  margin-bottom: 6px;
}
.help .palm-text-wrapper .palm-body-text.copy
{
  margin-top: -8px;
}
.help .list_scene
{
  position:relative;
  left:48px;
  top:10px;
  width:32px; 
  height:32px;
  vertical-align:bottom;
  padding: 0px 0px 0px 5px;
  float:left;
}
.help .img_paypal
{
  position:relative;
  left:8px;
  top:10px;
  width:32px; 
  height:32px;
  background: url(../images/help/paypal.png) no-repeat  bottom;
  padding: 0px 0px 0px 5px;
  float:left;
}
.help .img_web
{
  position:relative;
  left:8px;
  top:10px;
  width:32px; 
  height:32px;
  background: url(../images/help/application-web.png) no-repeat  bottom;
  padding: 0px 0px 0px 5px;
  float:left;
}
.help .img_email
{
  position:relative;
  left:8px;
  top:10px;
  width:32px; 
  height:32px;
  background: url(../images/help/application-email.png) no-repeat bottom;
  vertical-align:bottom;
  padding: 0px 0px 0px 5px;
  float:left;
}
.help .img_changelog
{
  position:relative;
  left:8px;
  top:10px;
  width:32px; 
  height:32px;
  background: url(../images/help/scene-changelog.png) no-repeat  bottom;
  padding: 0px 0px 0px 5px;
  float:left;
}

.msg_box {
	display: table;
	width: 100%;
	padding: 10px 15px 15px 15px;
}

.msg_box div {
	display: table-cell;
}

.msg_spinner.active {
	width: 32px;
	padding-right: 5px;
}

.msg_area {
	vertical-align: middle;
}

.msg_area.error {
	color: red;
}

.palm-page-header .header-icon.wifi {
	background: url(../images/header-icon-mobilehotspot.png) no-repeat;
}

.palm-dashboard-icon.wifi {
	background: url(../images/notification-large.png) center no-repeat;
}

.explanation-text {
	margin: 3px 23px 15px 23px;
	font-size: 14px;
	color: #666;
}

.icon.technology.wifi {
	float: right;
	background: url(../images/wifi.png) center left no-repeat;
}

.icon.technology.bluetooth {
	float: right;
	background: url(../images/bt.png) center left no-repeat;
}

.icon.technology.usb {
	float: right;
	background: url(../images/usb.png) center left no-repeat;
}

.icon.technology {
	float: right;
}

.clientinfodisplay {
        display: block;
}

.clientinfodisplay.true {
        display: none;
}

.emptydisplay {
        display: none;
}

.emptydisplay.true {
        display: block;
}


/*
 * Startup Scene Styles
 */
.startup #data .palm-divider.labeled .label
{
  text-transform: lowercase;
}
.startup #data
{
  font-size: 18px;
}
.startup #data .text
{
  padding-top: 4px;
  padding-left: 17px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.startup #data ul
{
  margin: 0px;
  padding-left: 37px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.startup #data ul.changelog
{
  font-size: 15px;
}

/*
 * Form Styles - Scene Inspecific
 */
.form .palm-row-wrapper .label.left
{
	padding-left: 6px;
	-webkit-palm-mouse-target: ignore;
}
.form .palm-row-wrapper .sliderTitle
{
	padding-right: 22px;
	line-height: 26px;
	height: 26px;
	vertical-align: middle;
}
.form .palm-row-wrapper .slider
{
	margin-top: -6px;
	padding-bottom: 18px;
}
.form .palm-list-selector .label
{
	float: left;
}
.form .palm-list-selector .title
{
	text-align: right;
}
.form .noflip .palm-list-selector .label
{
	float: right;
}
.form .noflip .palm-list-selector .title
{
	text-align: left;
}
.form .textfield-group .hint-text
{
	color: #666;
}
body.palm-dark .form .textfield-group .hint-text
{
	color: #ccc;
}
.form .palm-group.disabled
{
	opacity: 0.35;
}

.form .palm-row .palm-row-wrapper
{
	position: relative;
}
.form .palm-row .palm-row-wrapper:not(.textfield-group)
{
	min-height: 53px;
}
.form .palm-row .palm-row-wrapper.textfield-group
{
	min-height: 23px;
}
.form .palm-row .palm-row-wrapper.textfield-group .help-overlay
{
	top: -13px;
	left: -13px;
	bottom: -11px;
	right: -13px;
}
.form .palm-row .palm-row-wrapper .help-overlay
{
	display: none;
	position: absolute;
	z-index: 10000;
	width: auto;
	height: auto;
	border: 20px;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 4px;
	-webkit-border-image: url(../images/palm-default/helprow.png) 20 20 20 20 stretch stretch;
}
.form .palm-row.first .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/palm-default/helprow-first.png) 20 20 20 20 stretch stretch;
}
.form .palm-row.last .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/palm-default/helprow-last.png) 20 20 20 20 stretch stretch;
	bottom: 2px;
}
.form .palm-row.single .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/palm-default/helprow-single.png) 20 20 20 20 stretch stretch;
	bottom: 3px;
}
.form .palm-row.last .palm-row-wrapper.textfield-group .help-overlay,
.form .palm-row.single .palm-row-wrapper.textfield-group .help-overlay
{
	bottom: -13px;
}
.form .palm-group
{
	position: relative;
}
.form .palm-group > .help-overlay
{
	display: none;
	position: absolute;
	z-index: 10000;
	width: auto;
	height: auto;
	border: 20px;
	top: -12px;
	left: -14px;
	bottom: -13px;
	right: -13px;
	-webkit-border-image: url(../images/palm-default/helprow-single.png) 20 20 20 20 stretch stretch;
}
.form.help .palm-row .palm-row-wrapper .help-overlay,
.form.help .palm-group > .help-overlay
{
	display: block;
}

.form .help-toggle
{
	position: absolute;
	right: 11px;
	top: 11px;
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url(../images/palm-default/help-toggle.png);
}
.form .help-toggle.selected
{
	background-position: 0px -32px;
}