.icon-switch
{
	background: url(../images/switch.png) center center no-repeat;
}
.icon-usb
{
	background: url(../images/usb.png) center center no-repeat;
}
.icon-bt
{
	background: url(../images/bt.png) center center no-repeat;
}
.icon-wifi
{
	background: url(../images/wifi.png) center center no-repeat;
}